body {
    background-color: #ffffff;
    margin:0;
    padding:0;
}


nav {
grid-area: nav; 
}

aside {
    grid-area: aside;
    }

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.contenedor-principal {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "nav"
    "aside"
    "main"
    "footer"
    ;
}

.contenido-header {
    background-color: #0059a1;
    display: flex;
    justify-content: space-between;
}

.imagen-marca {
    display: flex;
    padding: 2px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    align-items: center;
    gap: 20px;
}

.imagen-marca i {
        color: #ffffff;
        font-size: 2rem;
    }

.imagen-marca i:hover {
        color: orange;
        font-size: 2.2rem;
    }

.imagen-marca h1 {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        font-family: "Playwrite ES", cursive;
    }

.imagen-marca span {
    background-color: orange; 
    color:black;
    padding: 2px 6px;
    }   

.menu-navegacion {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
    gap:20px;
}


.menu-navegacion ul {
    color: #ffffff;
    list-style: none;
/*Contenido Oculto*/
display: none;
}

.menu-navegacion ul li:hover {
color: orange
}

.menu-items {
    display: flex;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu-navegacion i {
    color: #ffffff;
    align-items: center;
    font-size: 1.5rem;
    padding-right: 20px;
}

.menu-navegacion i:hover {
color: orange
}

/*Sección Aside*/


.contenedor-filtros {
    margin: 0;
    padding: 20px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-filtros .label {
    color: #263642;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
}

.contenedor-filtros .campo-select {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: 0.8px solid grey;
    border-radius: 5px;
    gap: 20px;
    padding: 8px 15px 8px 15px;
}

.contenedor-filtros .campo-select h6 {
margin:0px;
color: #263642;
font-size: 1rem;
font-family: "Roboto", sans-serif;
font-size: 0.8rem;
font-weight: 400;
}

.contenedor-filtros .campo-select i {
    color: grey;
}

/*Sección Productos
Cards*/

.contenedor-productos {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.contenedor-productos h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight:bold;


}

.product-cards {
    border: 1px solid #e2e2e2;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 6px -3px #e2e2e2;

}

.foto-producto {
    width: 100%;
}

.product-cards .metadatos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
font-family: "Roboto", sans-serif;
font-size: 0.8rem;
font-weight: 400;
}

.product-cards h5{
    font-size: 1.2rem;
    margin:0;
}

.product-cards h6{
    font-size: 0.8rem;
    margin:0;
    color:grey;
    font-weight: 200;
    margin: 8px;
}

.product-cards p{
    font-size: 1.2rem;
    margin:0;
    color:orange;
    font-weight: bold;
    margin: 8px;
}

.product-cards button {
    background-color: #0059a1;
    border: none;
    margin: 0;
    padding: 10px;
    color:#ffffff;
    margin: 10px;




}

.product-cards button:hover {
background-color: #ffffff;
color:#0059a1;
border: 1px solid #0059a1;
}

.paginacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.numeracion {
    border: 1px solid #e2e2e2;
    box-shadow: 0 8px 6px -3px #e2e2e2;
    margin:0;
padding: 0px;
}

.numeracion p {
margin: 0;
padding:10px;
}

.chevron i {
padding: 5px;
color: #e9e9e9;
}

/*Footer*/

.contenedor-footer {
    background-color: #0059a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.contenedor-footer .botones-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
  
}

.contenedor-footer .botones-sociales i {
    color: #ffffff;
    font-size: 1.8rem;
    margin:0;
}

.contenedor-footer .derechos {
    color: #ffffff;
    font-family: 'Roboto';
    text-align: center;
}










